<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.label "First Name" %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= f.label "Band Name" %><br />
    <%= f.text_field :band %>
  </p>
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
