<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <% if @user.user_type == 'Patron' %>
   <%= f.hidden_field :user_type %>
     <% if @user.new_record? %>
      <p>
        <%= f.label "Email" %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </p>
    <% end %> 
    <p>
      <%= f.label "Full Name" %><br />
      <%= f.text_field :name %>
    </p>
   
  <% else %>
  <p>
   GET FED!
  </p>
  <p>
    <%= (@user.new_record? ? "CREATE YOUR PROFILE" : "UPDATE YOUR PROFILE") %>
  </p>
  <% if @user.new_record? %>
    <p>
      <%= f.label "Email" %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  <% end %>
  <p>
    Photo: <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.label "Arts Type" %><br />
    <%= f.select :arts_type, ['Music', 'Art', 'Drama', 'Dance', 'Other'] %>
  </p>
  <p>
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Stage Name" %><br />
    <%= f.text_field :artist_name %>
  </p>
  <p>
    <%= f.label "Bio" %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label "Website" %><br />
    <%= f.text_field :web_site %>
  </p>
  <p>
    <%= f.label "Facebook" %><span class="small_instruction">(URL or Username)</span><br />
    <%= f.text_field :facebook %>
  </p>
  <p>
    <%= f.label "Twitter" %><span class="small_instruction">(URL or Username)</span><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label "YouTube" %><span class="small_instruction">(URL or Username)</span><br />
    <%= f.text_field :youTube %>
  </p>
  <p>
    <%= f.label "Zip Code" %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label "Do you teach your art?" %><br />
    <%= f.radio_button :teacher, "true" %>Yes <%= f.radio_button :teacher, "false" %>No
  </p>
  <p>
    <%= f.label "User Type" %><br />
    <%= f.select :user_type, ['Artist', 'Patron', 'Both'] %>
  </p>
  
  <% end %>
  
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
