<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <% if @user.new_record? %>
  
  <p>
    <%= f.label "Username" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <% else %>
  
  <p>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.label "Arts Type" %><br />
    <%= f.text_field :arts_type %>
  </p>
  <p>
    <%= f.label "Individual or Group" %><br />
    <%= f.select :ind_group, ['Individual', 'Group'] %>
  </p>
  <p>
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Artist Name" %><br />
    <%= f.text_field :artist_name %>
  </p>
  <p>
    <%= f.label "Bio" %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label "Website" %><br />
    <%= f.text_field :web_site %>
  </p>
  <p>
    <%= f.label "Facebook" %><br />
    <%= f.text_field :facebook %>
  </p>
  <p>
    <%= f.label "Twitter" %><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label "YouTube" %><br />
    <%= f.text_field :youTube %>
  </p>
  
  <% end %>
  
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
