<tr>
  <%= f.hidden_field :user_id %>
  <td><%= f.text_field :title %></td>
  <td><%= f.date_select :event_date %></td>
  <td><%= f.text_field :address %></td>
  <td><%= f.text_field :city %></td>
  <td><%= f.text_field :state %></td>
  <td><%= f.text_field :zip %></td>
  <td class="remove_fields_be_gone">Remove</td>
</tr>
